.navbar {
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
    z-index: 100;
    height: 9rem;

    background-color: $color-white;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    flex-wrap: wrap; 
    border-bottom: 1px solid $color-grey-light-1;

    @include container-margin(); 

    &__logo {
        display: block; 
        height: $navbar-logo-height; 

        &#brand-text {
            @include respond-below(md) {
                display: none; 
            }
        }
    }

    &__nav {
        display: flex; 
        list-style: none; 

        & > *:not(:last-of-type) {
            margin-right: 2rem; 
        }

        &#social-icons {
            @include respond-below(sm) {
                display: none; 
            } 
        }
    }

    &__item {
        display: flex; 
        transition: opacity $transition-fast; 
        
        &:hover {
            opacity: 0.5; 
        }
    }

    &__btn {
        background: none; 
        outline: none; 
        border: none; 
        align-self: center; 
        
        &:hover {
            cursor: pointer; 
        }
    }

    &__link {
        color: inherit; 
        text-decoration: none; 
    }

    &__brand {
        display: flex; 
        align-items: center; 
        transition: opacity $transition-fast; 

        &:hover {
            opacity: 0.8; 
        }
    }

    // Checkbox Hack functionality
    &__checkbox {
        display: none; 
    }

    &__checkbox:checked + * { // Selects whatever el is next to the checbox. Used * for extensibility
        // To line with the container div
        @include respond-below(sm) {
            left: 1rem; 
        }
        @include respond-above(sm) {
            left: 1.5rem; 
        }
        @include respond-above(md) {
            left: 3rem; 
        }
        @include respond-above(lg) {
            left: 7rem; 
        }
        @include respond-above(xl) {
            left: 10rem; 
        }
    }
}