@font-face {
    font-family: 'sailors';
    src: url('../../fonts/sailors_condensed-webfont.eot'); /* IE9 Compat Modes */
    src: url('../../fonts/sailors_condensed-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../fonts/fontawesome-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../../fonts/sailors_condensed-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../../fonts/sailors_condensed-webfont.svg#sailors') format('svg'); /* Legacy iOS */
  }


body {
    font-family: 'Overpass', sans-serif;
    box-sizing: border-box; 
    background-color: $light 
}

h1, h2, h3, .navbar > a {
    font-family: 'sailors';
}

main {
    min-height: 100vh;
}

.image-with-title {
    position: relative;

    &__title {
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(0turn, $dark, 60%, transparent);
        margin-bottom: 0;
        color: $light;
        letter-spacing: 1px;
        font-weight: 400;
    }
}

.bg-gold {
    background: linear-gradient(135deg, #e8cca7 0%,#cd9e6f 100%) !important;
}

.text-gold {
    color: #cd9e6f;
}

.bg-pearl {
    background: linear-gradient(135deg, #cac1ba 0%,#9b8e85 100%) !important;
}

.text-pearl {
    color: #9b8e85;
}

.bg-platinum {
    background:linear-gradient(135deg, #46464b 0%,#212125 100%) !important;
}

.text-platinum {
    color: #212125;
}

.bg-silver {
    background: linear-gradient(135deg, #d1d5db 0%,#a5abb5 100%) !important;
}

.text-silver {
    color: #a5abb5;
}