// Containers
.container {
    transition: padding $transition-medium; 
    
    @include respond-below(sm) {
        padding: 0 1rem; 
    }
    @include respond-above(sm) {
        padding: 0 1.5rem; 
    }
    @include respond-above(md) {
        padding: 0 3rem; 
    }
    @include respond-above(lg) {
        padding: 0 7rem; 
    }
    @include respond-above(xl) {
        padding: 0 10rem; 
    }
}

.container-adjusted {
    &--sm {
        transition: padding $transition-medium; 
    
        @include respond-below(sm) {
            padding: 0; 
        }
        @include respond-above(sm) {
            padding: 0 .5rem; 
        }
        @include respond-above(md) {
            padding: 0 2rem; 
        }
        @include respond-above(lg) {
            padding: 0 6rem; 
        }
        @include respond-above(xl) {
            padding: 0 9rem; 
        }  
    }
}

// Backgrounds
.bg-dark {
    background-color: #000; 
}

// Paddings
.py {
    &--sm {
        padding-top: $padding-sm; 
        padding-bottom: $padding-sm; 
    }
}

.pb {
    &--sm {
        padding-bottom: $padding-sm; 
    }
}

.pt {
    &--sm {
        padding-top: $padding-sm; 
    }
}

.pr {
    &--sm {
        padding-right: $padding-sm; 
    }   
}

.pl {
    &--sm {
        padding-left: $padding-sm; 
    }   
}

.px {
    &--sm {
        padding-right: $padding-sm; 
        padding-left: $padding-sm; 
    }   
}

.p {
    &--sm {
        padding: $padding-sm; 
    }
}

// Margins 
.mb {
    &--lg {
        margin-bottom: $padding-lg; 
    }
    &--xl {
        margin-bottom: $padding-xl; 
    }
    &--huge {
        margin-bottom: $padding-huge;         
    }
}

.mt {
    &--xs {
        margin-top: $padding-xs; 
    }
    &--sm {
        margin-top: $padding-sm; 
    }
    &--lg {
        margin-top: $padding-lg; 
    }
    &--huge {
        margin-top: $padding-huge;         
    } 
}

.ml {
    &--sm {
        margin-left: $padding-sm; 
    }   
    &--md {
        margin-left: $padding-md; 
    }  
    &--lg {
        margin-left: $padding-lg; 
    }
    &--xl {
        margin-left: $padding-xl; 
    }
    &--huge {
        margin-left: $padding-huge;         
    } 
}

// Images
.img-fluid {
    height: 100%; 
}

// Positioning
.pos-relative {
    position: relative;
}