// Responsive Breakpoints 
@mixin respond-below($bp) {
    @if($bp == sm) {
        @media only screen and (max-width: $bp-sm) {
            @content; 
        }
    }
    @if($bp == md) {
        @media only screen and (max-width: $bp-md) {
            @content; 
        }
    }
    @if($bp == lg) {
        @media only screen and (max-width: $bp-lg) {
            @content; 
        }
    }
    @if($bp == xl) {
        @media only screen and (max-width: $bp-xl) {
            @content; 
        }
    }
}

@mixin respond-above($bp) {
    @if($bp == xl) {
        @media only screen and (min-width: $bp-xl) {
            @content; 
        }
    }
    @if($bp == lg) {
        @media only screen and (min-width: $bp-lg) {
            @content; 
        }
    }
    @if($bp == md) {
        @media only screen and (min-width: $bp-md) {
            @content; 
        }
    }
    @if($bp == sm) {
        @media only screen and (min-width: $bp-sm) {
            @content; 
        }
    }
}

@mixin container-margin {
    @include respond-below(sm) {
        margin-left:1rem; 
        margin-right:1rem; 
    }
    @include respond-above(sm) {
        margin-left:1.5rem; 
        margin-right:1.5rem; 
    }
    @include respond-above(md) {
        margin-left:3rem; 
        margin-right:3rem; 
    }
    @include respond-above(lg) {
        margin-left:7rem; 
        margin-right:7rem; 
    }
    @include respond-above(xl) {
        margin-left: 10rem; 
        margin-right: 10rem; 
    }
}