// Colors
$color-white: #fff; 
$color-black: #000; 
$color-grey-light-1: #ddd; 

// Responsive Breakpoints
$bp-sm: 36em; // 576px
$bp-md: 48em; // 768px
$bp-lg: 62em; // 992px
$bp-xl: 75em; // 1200px

// Transition times
$transition-fast: 0.2s; 
$transition-medium: 0.7s; 
$transition-slow: 1.5s; 

// Paddings
$padding-sm: 1rem; 

// Navbar
$navbar-logo-height: 7rem; 

// Fonts
$font-heading: 'Raleway', sans-serif;
$font-text: 'Roboto', sans-serif;